<%= form_for(:page, :url => {:action => 'create'}) do |f| %>
  
  <div class="form-division"><%= f.label "Choose Sound" %><br />
  <%= f.text_field :sound_url %>
  </div>

  <div class="form-division"><%= f.label "Choose Button Style" %><br />
	<span class="choose-style"> <%= select("button", "style_name", @options )%></span>
	<span class="choose-color"></span><br /><br />
	<span class="image-preview">Image Preview will appear here.</span>
  </div>

  <div class="form-division"><%= f.label "Name your page" %><br />
  <%= f.text_field :title_url %><br /><br />
  <%= f.label "Choose a tagline" %><br />
  <%= f.text_field :tagline %><br /><br />
  <%= f.submit "Create My Page" %>
  </div>

<% end %>

<script type="text/javascript">

var csrf_token = $('meta[name=csrf-token]').attr('content');

function retrieve_colors() {
  
  $.post('/retrieve_colors', { style: $("select#button_style_name option:selected").attr("value") }, function(data) {
	
    $('.choose-color').empty().append(data);

	preview_image();
	
	$("select#page_button_url").change( function () {
	  preview_image();
	});
	
  });
}
function preview_image() {
	$('.image-preview').empty().append("<image src=\"/images/" + $("select#page_button_url option:selected").attr("value") + ".png\" />");
}

$("body").bind("ajaxSend", function(elm, xhr, s){
   if (s.type == "POST") {
      xhr.setRequestHeader('X-CSRF-Token', csrf_token);
   }
});

retrieve_colors();

$("select#button_style_name").change( retrieve_colors );

$("input[type=submit]").click( function () {
	$('select#button_style_name').attr('disabled','true')
});

</script>