<%= form_for(:page, :url => {:action => 'create'}) do |f| %>
  <div class="create-new-mask">
    <div class="create-new">	
      <div class="form-division search-tracks">
	    <div class="search-terms">
          <p><%= f.label "Search SoundCloud For Tracks" %></p>
          <p><input id="search" name="search_term" size="30" type="text" /> <%= link_to("Search", "#", :class => 'search-button button') %></p>
		  <div class="clearfix"></div>
          <div class="track-name"></div><div class="id-container"></div>
		  <p class="next-btn clearfix"><%= link_to 'Continue >>', '#', :class => 'next button' %></p>
        </div>
		<div class="search-results"></div>
      </div>
      <div class="form-division choose-button">
	    <div class="choose-buttons">
		  <p class="back-btn clearfix"><%= link_to '<< Back', '#', :class => 'prev button' %></p>
		  <div class="clearfix"></div>
		  <div class="button-style">
		  <p><%= f.label "Choose Button Style" %></p>
	      <p><span class="choose-style"> <%= select("button", "style_name", @options )%></span></p>
		  </div>
	      <div class="choose-color"></div>
		  <p class="next-btn clearfix"><%= link_to 'Continue >>', '#', :class => 'next button' %></p>
	    </div>
	    <div class="image-preview">Image Preview will appear here.</div>
      </div>
      <div class="form-division name-page">
        <p class="back-btn clearfix"><%= link_to '<< Back', '#', :class => 'prev button' %></p>
		<div class="clearfix"></div>
        <p><%= f.label "Name your page" %></p>
        <p><%= f.text_field :title_url %></p>
        <p><%= f.label "Choose a tagline" %></p>
        <p><%= f.text_field :tagline %></p>
        <p><%= f.submit "Create My Page" %></p>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
// Create search results container

var count = 0;
var container = $('<div>', { class: 'search-container' });

// Set up CSRF token to work with AJAX
var csrf_token = $('meta[name=csrf-token]').attr('content');
$("body").bind("ajaxSend", function(elm, xhr, s){
   if (s.type == "POST") {
      xhr.setRequestHeader('X-CSRF-Token', csrf_token);
   }
});

// Search Functions
function add_container() {
	var clone = container.clone();
	$('.search-results').prepend(clone);
}

function create_audio(parent, url) {
  $('audio').each( function(e) {
	$(this).remove()
  });
  var clip = document.createElement('audio');
  clip.src = "http://api.soundcloud.com/tracks/" + url + "/stream?client_id=72325d0b84c6a7f4bbef4dd86c0a5309";
  clip.load();
  clip.autobuffer = true;
  clip.preload = 'auto';
  parent.append(clip);
  clip.play();
}

function search_soundcloud() {
	
  var search_term = $('input#search').val();
  $.get('http://m.soundcloud.com/_api/tracks/', { q: search_term, limit: 10, client_id: "72325d0b84c6a7f4bbef4dd86c0a5309", filter: "streamable", format: 'json' }, function(data) {	
    
    //add_container();
    var html = "";
	html += '<p class="header left">Keyword Search: ' + search_term + '</p>' + "\n";
	html += '<p class="right"><a href="#" class="close-results button">Clear Results</a></p>' + "\n";
	html += '<div class="clearfix"></div>' + "\n";
	html += '<div class="search">' + "\n";
	html += '<div class="tracks">' + "\n";
	$.each(data, function(i, e) {
	  html += '<div class="track" id="' + e['id'] + '">' + "\n";
	  html += '<p><span class="track-title">' + e['title'] + '</span><span class="track-artist"> from <a href="' + e['user']['permalink_url'] + '" target="_blank" class="track_author">' + e['user']['username'] + '</a></span></p>' + "\n";
	  if(e['streamable'] == true){
		html += '<a href="#" class="play"><img src="/images/play.png" alt="Preview" title="Preview" /></a>' + "\n";
	  } else {
		html += '<img src="/images/not-available.png" alt="Not Available" title="Not Available" />' + "\n";
	  }
	  html += '<a href="' + e['permalink_url'] + '" class="link-out" target="_blank">See Track on SoundCloud</a>' + "\n";
	  if(e['streamable'] == true){
        html += '<a href="#" class="select-track">Use This Track</a>' + "\n";
	  } else {
	    html += '<span>This track is not streamable. <a href="#" class="tooltip" onClick="javascript:function(e){e.preventDefault();}">Why?<span>Right now, SoundCloud\'s API does not allow a combination request of search terms and filtering streamable content. If this ever changes, you will not see non-streamable tracks in this list anymore. For now, though, these tracks will appear in our results. We\'re sorry.</span></a></span>';
	  } 
	  html += '</div>' + "\n";
	});
	html += '</div>' + "\n";
	html += '</div>' + "\n";
    $('.search-results').empty().scrollTop(0).append(html);
	$('.play').click( function (e){
	  e.preventDefault();
	  create_audio($(this).parent(), $(this).parent().attr('id'));
	})
	$('.close-results').click( function(e) {
	  e.preventDefault();
	  $('.search-results').empty();
	
	});
	$('.select-track').click( function(e) {
	  e.preventDefault();
	  var html = '<input type="hidden" name="page[sound_url]" class="url" value="http://api.soundcloud.com/tracks/' + $(this).parent().attr('id') + '/stream" />';
	  html += '<input type="hidden" name="page[track_name]" class="url" value="' + $(this).parent().find('span.track-title').text() + '" />';
	  html += '<input type="hidden" name="page[track_url]" class="url" value="' + $(this).parent().find('span.track-artist a').attr('href') + '" />';
	  html += '<input type="hidden" name="page[track_author]" class="url" value="' + $(this).parent().find('span.track-artist').text().split('from ')[1] + '" />';
	  html += '<input type="hidden" name="page[track_author_url]" class="url" value="' + $(this).parent().find('.link-out').attr('href') + '" />';
	  $('.id-container').empty().append(html);
	  $('.track-name').empty().css("display","block").append("Added track: " + $(this).parent().find('span.track-title').text())
	  // $('.search').remove();
	});
	
  }, "json");

}

// Button Functions
function retrieve_colors() {
  $.post('/retrieve_colors', { style: $("select#button_style_name option:selected").attr("value") }, function(data) {	
    $('.choose-color').empty().append(data);
	preview_image();
	$("select#page_button_url").change( function () {
	  preview_image();
	});
  });
}
function preview_image() {
	$('.image-preview').empty().append("<image src=\"/images/" + $("select#page_button_url option:selected").attr("value") + ".png\" />");
}

function moveScreen(direction) {
	var distance = 0;
	if(direction == "forward") {
	  distance = -960;	
	} else {
	  distance = 960;
	}
	var position = $('.create-new').position().left;
	$('.create-new').animate({ left: position + distance + "px" }, 500, function() { } );
}

// OnLoad Actions
retrieve_colors();
$("select#button_style_name").change( retrieve_colors );
//$('select#button_style_name').attr('disabled','true')

$("input[type=submit]").click( function (e) {
	if( $(".id-container input.url").val()){
	  if( $("#page_title_url").val()){
		if( $("#page_tagline").val()) {
		  
		} else {
		    e.preventDefault();
			alert("Please provide a tagline for your page");
		}
	  } else {
	    e.preventDefault();
		alert("Please provide a name for your page");
	  }
	} else {
		e.preventDefault();
		alert("Please choose a track for your page.");
		$('.create-new').animate({ left: "0px" }, 500, function() { } );
	}
	
});

$('.search-button').click( function (e) {
	e.preventDefault();
	search_soundcloud();
})
$('#search').keypress(function(e) {
	if(e.which == 13) {
		e.preventDefault();
		search_soundcloud();
	}
});
$('.next').each( function() {
  $(this).click( function(e) {
	e.preventDefault();
    moveScreen("forward");
  });
});
$('.prev').each( function() {
  $(this).click( function(e) {
	e.preventDefault();
    moveScreen("backward");
  });
});

</script>