<%= link_to "", root_path, :class => "small-logo" %>

<%= form_for(:page, :url => {:action => 'create'}) do |f| %>
  <div class="create-new-mask">
    <div class="create-new">	
      <div class="form-division search-tracks">
	    <div class="search-terms">
          <p><%= f.label "Search SoundCloud For Tracks" %></p>
          <p><input id="search" name="search_term" size="30" type="text" /> <%= link_to("Search", "#", :class => 'search-button button') %></p>
		  <div class="clearfix"></div>
          <div class="track-name"></div><div class="id-container"></div>
		  <p class="next-btn clearfix"><%= link_to 'Continue >>', '#', :class => 'next button' %></p>
        </div>
		<div class="search-results"></div>
      </div>
      <div class="form-division choose-button">
	    <div class="choose-buttons">
		  <p class="back-btn clearfix"><%= link_to '<< Back', '#', :class => 'prev button' %></p>
		  <div class="clearfix"></div>
		  <div class="button-style">
		  <p><%= f.label "Choose Button Style" %></p>
	      <p><span class="choose-style"> <%= select("button", "style_name", @options )%></span></p>
		  </div>
	      <div class="choose-color"></div>
		  <p class="next-btn clearfix"><%= link_to 'Continue >>', '#', :class => 'next button' %></p>
	    </div>
	    <div class="image-preview">Image Preview will appear here.</div>
      </div>
      <div class="form-division name-page">
        <p class="back-btn clearfix"><%= link_to '<< Back', '#', :class => 'prev button' %></p>
		<div class="clearfix"></div>
        <p><%= f.label "Name your page" %></p>
        <p><%= f.text_field :title_url %></p>
        <p><%= f.label "Choose a tagline" %></p>
        <p><%= f.text_field :tagline %></p>
        <p><%= f.submit "Create My Page" %></p>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript" src="/js/new-page.js"></script>