<%= link_to "", root_path, :class => "small-logo" %>

<div class="step-tracker clearfix">
	<div class="step-one">1</div>
	<div class="spacer spacer-1"></div>
	<div class="step-two">2</div>
	<div class="spacer spacer-2"></div>
	<div class="step-three">3</div>
</div>

<%= form_for(:page, :url => {:action => 'create'}) do |f| %>
  <div class="create-new-mask">
    <div class="create-new">
	
      <div class="form-division search-tracks">
	    <div class="search-terms clearfix">
		<div class="centered">
          <input id="search" name="search_term" size="30" type="text" value="Search SoundCloud for Tracks"/> <%= link_to image_tag("/images/search-icon.png"), "#", :class => 'search-button' %>
		</div>
          <div class="track-name clearfix"></div><div class="id-container"></div>
        </div>
		<div class="search-results"></div>
		<div class="next-btn clearfix"><a href="#" class="next button">Continue <img alt="Right-arrow" src="/images/right-arrow.png" /></a></div>
      </div>

      <div class="form-division choose-button">
	    <div class="image-preview">Image Preview will appear here.</div>
	    <div class="choose-buttons">
		  <div class="clearfix"></div>
		  <div class="button-style">
		  <p><%= f.label "Choose Button Style" %></p>
	      <p><span class="choose-style"> <%= select("button", "style_name", @options )%></span></p>
		  </div>
	      <div class="choose-color"></div>
		  <p class="back-btn clearfix"><a href="#" class="prev button"><img alt="Left-arrow" src="/images/left-arrow.png" />Go Back</a></p>
		  <p class="next-btn clearfix"><a href="#" class="next button">Continue <img alt="Right-arrow" src="/images/right-arrow.png" /></a></p>
	    </div>
	    
      </div>

      <div class="form-division name-page">
		<div class="clearfix"></div>
		<div class="naming">
        <p class="inputs"><%= f.label :title_url, "http://pushitrealgood.com/page/" %> <%= f.text_field :title_url, :maxlength => 16 %> <span class="title-counter"></span></p>
        <p class="inputs"><%= f.label :tagline, "Tagline for your page: " %> <%= f.text_field :tagline, :maxlength => 150 %> <span class="tagline-counter"></span></p>
		</div>
        <p><%= f.submit "Create My Page", :class => "button" %></p>
		<p class="back-btn clearfix"><a href="#" class="prev button"><img alt="Left-arrow" src="/images/left-arrow.png" />Go Back</a></p>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/js/livevalidation_standalone.compressed.js"></script>
<script type="text/javascript" src="/js/new-page.js"></script>