<h1 class="clearfix"><%= @page.tagline %></h1>

<div class="push-it" id="push-it">
  <a href="#" class="play no-underline" ><img src="/images/<%= @page.button_url %>.png" alt="Button" class ="push-button" /></a>
</div>

<div class="other-info">
	
<div class="page-social clearfix">
	
	<div class="facebook-social">
	  <a name="fb_share" type="button" share_url="http://pushitrealgood.com/page/<%= @page.title_url %>"></a>
	  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
	</div>
	
	<div class="twitter-social">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="none" data-text="Awesome: http://pushitrealgood.com/page/<%= @page.title_url %> #pushitrealgood" data-count="none">Tweet</a>
	</div>
	
	<div class="google-social">
	  <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://pushitrealgood.com/page/<%= @page.title_url %>" ></div>
	</div>
</div>


<% times = "TIMES" %>
<% if @page.pushes == 1 %>
<% times = "TIME" %>
<% end %>

<h1 class="count-pushes">
  <div class="count-numbers">
    <div class="pushed">PUSHED <span class="line">|</span></div>
	<div class="times"><span class="line">|</span> <%= times %></div>
    <span class="numbers"><%= @page.pushes %></span>    
  </div> 
</h1>

<div class="info-bar">
  <div class="info-buttons">
	<span class="info-button-span mini-logo-container"><%= link_to  "Home", root_path %></span>
	<span class="info-button-span "><%= link_to "Create", "/page/new" %></span>
  </div>
</div>

</div>

<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) {return;}js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script','facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript">(function(){var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;	      po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>

<script type="text/javascript">
var count = <%= @page.pushes %>;
function prepNonFlash() {
  var clip = document.createElement('audio');
  clip.src = "<%= @page.sound_url %>?client_id=72325d0b84c6a7f4bbef4dd86c0a5309";
  clip.load();
  clip.autobuffer = true;
  clip.preload = 'auto';
  $('.push-it').append(clip);
  $('.play').click( function(e) {
	e.preventDefault();
	clip.play();
	tally();
  });
  $('.play').mousedown( function(e) {
	e.preventDefault();
	$(this).find('img').css("margin-left","-250px");
  });
  $('.play').mouseup( function(e) {
	e.preventDefault();
	$(this).find('img').css("margin-left","0");
  });
}

function prepFlash () {
  var swfVersionStr = "10.0.0";
  var xiSwfUrlStr = "playerProductInstall.swf";
  var flashvars = {};
  flashvars.streamURL = "<%= @page.sound_url %>?client_id=72325d0b84c6a7f4bbef4dd86c0a5309";
  flashvars.imageURL = "/images/<%= @page.button_url %>.png";
  flashvars.pageID = "<%= @page.title_url %>"
  var params = {};
  params.quality = "best";
  params.wmode = "transparent";
  var attributes = {};
  swfobject.embedSWF("/swf/soundPlayer.swf", "push-it","250", "250", swfVersionStr, xiSwfUrlStr, flashvars, params, attributes);
  if( !$('body').hasClass('ie') ) document.getElementById("push-it").focus();
}

function tally() {
	count++;
	$('.count-numbers .numbers').empty().append(count);
	check_count_for_one(count);
}
function check_count_for_one(count) {
	if( count == 1 ) {
	  $('.count-pushes').css( 'background-position', '-162px 0' );
	} else {
	  $('.count-pushes').css( 'background-position', '0 0' );
	}
}

function toggleInfo() {
	if( $('.more-info-button').hasClass("more-button-active") ) {
	  $('.creation-status-mask').animate( { height: "0px" }, 250, "linear", function() {
		$('.more-info-button').removeClass("more-button-active");
		$('.more-info-button').animate( { paddingBottom: "0" }, 100, "linear" );
 	  });
	  
	} else {
	  $('.more-info-button').animate( { paddingBottom: "15px" }, 100, "linear", function() {
		$('.more-info-button').addClass('more-button-active');
		$('.creation-status-mask').animate( { height: "43px" }, 250, "linear" );
	  });
	}
}

$('.more-info-button').click ( toggleInfo )

if( $("body").hasClass( "iphone" ) || $("body").hasClass("android"))
{
	prepNonFlash();
} else {
	prepFlash();
}

check_count_for_one( $('.count-pushes').text() );

</script>

