<% if @user == current_user %>
  <% title =  'My Pages' %>
<% else %>
  <% title = "#{@user.username}'s Pages" %>
<% end %>

<div class="user-bar clearfix">
  <h1 class="whose-pages"><%= title %></h1>
  <% if @user == current_user %>
  <p class="new-page"><%= link_to "Create New Page", new_page_path %></p>
  <% end %>
</div>

<% if flash[:warning] or flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<% @pages.each do |page| %>
<div class="page">
  <p class="user-page-url"><%= page.title_url %></p> <p class="user-page-tagline"><%= page.tagline %></p>
  <p></p>
  <p>
    <%= link_to "Visit", "/page/#{page.title_url}", :method => :get %>
    <% if @user == current_user %>
      <%= link_to "Edit", "#", :class => "inline"  %>
      <%= link_to "Delete", page, :method => :delete, :class => "inline", :confirm => "Are you sure you want to delete this page?" %>
    <% end %>
  </p>
</div>
<% end %>