<%= link_to "", root_path, :class => "small-logo" %>
<div class="user-info">
<% if @user == current_user %>
  <% title =  "Welcome Back, #{current_user.username}!" %>
<% else %>
  <% title = "This is #{@user.username}." %>
<% end %>

<div class="user-bar clearfix">
  <h1 class="whose-pages"><%= title %></h1>
  <div class="user-bar-border"></div>
  <% if @user == current_user %>
  <p class="new-page"><%= link_to "", new_page_path %></p>
  
  <% end %>
  <div class="join-date"><div class="date-joined"><%= @user.created_at.strftime("%m/%d/%Y") %></div><div class="member-since">Member<br/>Since</div> </div>
  <div class="num-pages"><div class="page-amt"><%= @pages.count %></div> <div class="pages-made">Pages<br/>Made</div></div>
</div>

<div class="pages">
<% if flash[:warning] or flash[:notice] %>
  <p class="notice"><%= flash[:notice] %> <%= image_tag "/images/kill-notice.png" %></p>
<% end %>
<% @pages.each do |page| %>
<div class="page clearfix">
  <div class="button-image"><%= image_tag "/images/#{page.button_url}.png", :height => 40, :width => 80 %></div>
  <div class="page-info">
    <div class="user-page-url"><%= link_to page.title_url, "/page/#{page.title_url}" %></div> <div class="user-page-tagline"><%= page.tagline %></div>
  </div>
  <div class="user-links">
    <%= link_to "", "/page/#{page.title_url}", :class => "visit-btn" %>
    <% if @user == current_user %>
      <%= link_to "", "#", :class => "edit-btn"  %>
      <%= link_to "", page, :method => :delete, :class => "delete-btn", :confirm => "Are you sure you want to delete this page?" %>
    <% end %>
  </div>
</div>
<% end %>
</div>
</div>

<script type="text/javascript" src="/js/user-profile.js"></script>