<div class="search">
  <h1 class="header">Keyword Search: <%= @keyword %></h1>
  <div class="tracks">
    <% @tracks.each do |track| %>
	<div class="track">
	  <p><span class="track-title"><%= track.title %></span><span class="track-artist"> from <a href="<%= track.user.permalink_url %>" target="_blank"><%= track.user.username %></a></span></p>
	  <a href="<%= track.permalink_url %>" class="sc-player" ><%= track.title %></a>
	  <a href="<%= track.permalink_url %>" class="link-out" target="_blank">See Track on SoundCloud</a>
	  <!-- <%= track %> -->
	</div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$.scPlayer.defaults.onDomReady = function(){
  $('a.sc-player').scPlayer();
};
</script>

