<div class="search">
  <h1 class="header">Keyword Search: <%= @keyword %></h1>
  <div class="tracks">
    <% @tracks.each do |track| %>
	<div class="track">
	  <p><span class="track-title"><a href="<%= track.player_url %>" class="sc-player" ><%= track.title %></a></span><span class="track-artist"> from <a href="<%= track.author.uri %>" target="_blank"><%= track.author.name %></a> </span></p>
	  <!-- <%= track %> -->
	</div>
    <% end %>
  </div>
</div>
