  <div class="nav_bar clearfix">
	<div class="home-btn"><%= link_to "Home", root_path %></div>
    <div class="session_status">
	
      <% if user_signed_in? %>
        Logged in as <%= current_user.username %>. Go to my <%= link_to "profile", "/user/#{current_user.username}" %> | Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Login", new_user_session_path %> or <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </div>
  </div>