  <div class="nav_bar clearfix">
	
	<div class="facebook-button">
	  <div id="fb-root"></div>
	  <script>(function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) {return;}
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>
	  <div class="fb-like" data-href="http://pushitrealgood.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true" data-font="arial"></div>
	</div>
	
	<div class="twitter-button">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pushitrealgood.com" data-text="Choose a sound. Choose a button. Share anytime. Push It Real Good." data-count="horizontal">Tweet</a>
	  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</div>
	
	<div class="google-button">
	  <div class="g-plusone" data-size="medium" data-href="http://pushitrealgood.com"></div>
	  <script type="text/javascript">
	    (function() {
	      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	      po.src = 'https://apis.google.com/js/plusone.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	  </script>
	</div>
    
	<div class="session_status">
	
      <% if user_signed_in? %>
        Logged in as <%= current_user.username %>. Go to my <%= link_to "profile", "/user/#{current_user.username}" %> | Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
		<%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
  </div>