<!DOCTYPE html>
<html>
<head>
  <title>Push It Real Good -- Create your own one-button-site. -- Admin</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<%= root_path %>stylesheets/base.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/main.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/admin.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/sc-player-minimal.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<div class="wrapper">
	
  <%= render "layouts/menubar" %>
  
  <div class="content">

    <%= yield %>

  </div> <!-- content -->

</div> <!-- wrapper -->

<footer>
  <nav>
    <ul>
      <li><%= link_to "What is PIRG?", "/wtf" %></li>
      <li><%= link_to "Legal Terms", "/legal" %></li>
      <li><%= link_to "Contact Us", "mailto:pusha@pushitrealgood.com" %></li>
      <li>&#169; 2011 PUSHITREALGOOD</li>
    </ul>
  </nav>
</footer>

</body>
</html>
