<!DOCTYPE html>
<html>
<head>
  <title>Push It Real Good -- Create your own one-button-site.</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<%= root_path %>stylesheets/base.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/main.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/jquery.jscrollpane.css" type="text/css" />
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<div class="wrapper">
  <%= render "layouts/menubar" %>
  <div class="content">
    <%= yield %>
  </div> <!-- content -->
</div> <!-- wrapper -->

<footer>
    <nav>
      <ul class="clearfix">
		<li><div class="footer-count-pages"><span class="inner"><span class="footer-count"><%= @count %></span><br/>pages made</span></div></li>
		<li><a href="/wtf"><span class="inner single-line-link">What is this?</inner></span></a></li>
		<li><a href="/legal"><span class="inner single-line-link">Legal Terms</a></span></li>
		<li><a href="mailto:pusha@pushitrealgood.com"><span class="inner single-line-link">Contact Us</span></a></li>		
		<li><div class="footer-powered-by ">
		  <span class="inner">
		    <a href="http://soundcloud.com" target="_blank">
			  powered by<br/><span class="footer-soundcloud-logo"></span>
		    </a>
		  </span>
		</div>
      </ul>
    </nav>
  <div class="copyright">&#169; 2011 PUSH IT REAL GOOD</div>
  </footer>
</body>
</html>
