<!DOCTYPE html>
<html>
<head>
  <title>Push It Real Good -- Create your own one-button-site.</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<%= root_path %>stylesheets/base.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/main.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/jquery.jscrollpane.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/jquery.selectBox.css" type="text/css" />
  <%= javascript_include_tag "application" %>
  <script src="/js/jquery-1.6.4.min.js" type="text/javascript"></script>
  <script src="/js/swfobject.js" type="text/javascript"></script>
  <meta property="og:url" content="http://pushitrealgood.com" />
  <meta property="og:title" content="" />
  <meta property="og:image" content="http://pushitrealgood.com/images/push-it-logo-small.png" />
  <meta property="og:description" content="" />
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>
<body class="<%= (iphone?) ? 'iphone' : '' %> <%= (android?) ? 'android' : '' %> <%= (ie?) ? 'ie' : '' %>">

<div class="wrapper">
	
  <% if user_signed_in? && admin? %>
    <%= render "layouts/menubar" %>
  <% end %>
	
  <div class="content">
	
    <%= yield %>

  </div> <!-- content -->

  <%= if @feature 
	render "index/features"
	end %>
	
  <%= render "layouts/footer" %>

</div> <!-- wrapper -->

</body>
</html>
