<!DOCTYPE html>
<html>
<head>
  <title>Push It Real Good -- Create your own one-button-site.</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<%= root_path %>stylesheets/base.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/main.css" type="text/css" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= root_path %>images/favicon.ico" />
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="<%= root_path %>stylesheets/ie.css" />
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <script src="/js/jquery-1.6.4.min.js" type="text/javascript"></script>
  <script src="/js/swfobject.js" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta property="og:url" content="http://pushitrealgood.com/page/<%= @page.title_url %>" />
  <meta property="og:title" content="'<%= @page.title_url.upcase %>' on Push It Real Good" />
  <meta property="og:image" content="http://pushitrealgood.com/images/<%= @page.button_url %>_half.png" />
  <meta property="og:description" content="Sound + Button = Awesome. Create your own Awesome at pushitrealgood.com." />
  <meta itemprop="name" content="'<%= @page.title_url.upcase %>' on Push It Real Good">
  <meta itemprop="description" content="Sound + Button = Awesome. Create your own Awesome at pushitrealgood.com.">
  <meta itemprop="image" content="http://pushitrealgood.com/images/<%= @page.button_url %>_half.png">
  <meta name="viewport" content="maximum-scale=1,user-scalable=yes,width=960" />
</head>
<body class="button-page <%= (iphone?) ? 'iphone' : '' %> <%= (android?) ? 'android' : '' %> <%= (ie?) ? 'ie' : '' %>">
  <div class="wrapper">
    <div class="content">
      <%= yield %>
    </div>
  </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24443364-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>