<!DOCTYPE html>
<html>
<head>
  <title>Push It Real Good -- Create your own one-button-site.</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<%= root_path %>stylesheets/base.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/main.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/sc-player-minimal.css" type="text/css" />
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<%= yield %>



</body>
</html>
