<!DOCTYPE html>
<html>
<head>
  <title>Push It Real Good -- Create your own one-button-site.</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<%= root_path %>stylesheets/base.css" type="text/css" />
  <link rel="stylesheet" href="<%= root_path %>stylesheets/main.css" type="text/css" />
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
  <meta property="og:url" content="http://pushitrealgood.com/page/<%= @page.title_url %>" />
  <meta property="og:title" content="'<%= @page.title_url.upcase %> - <%= @page.tagline.upcase %>' on Push It Real Good" />
  <meta property="og:image" content="http://pushitrealgood.com/images/push-it-logo-small.png" />
  <meta property="og:description" content="I just saw this site; make your own on pushitrealgood.com!" />
</head>
<body class="button-page">
  <div class="wrapper">
    <div class="content">
      <%= yield %>
	  <div class="page-session-status">
	    <% if user_signed_in? %>
	      Logged in as <span class="username"><%= current_user.username %></span>.<br/>Go to my <%= link_to "profile", "/user/#{current_user.username}" %><br/>
			Not you? <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
	    <% else %>
	      <%= link_to "Login", new_user_session_path %><br/>
			<%= link_to "Sign Up", new_user_registration_path %>
	    <% end %>
	  </div>
	<div class=clearfix></div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>